/*** colors ***/

$yellow: #FFE145;
$darkYellow: #B79C10;
$lightYellow: #FFF7CC;

$darkGrey: #3F4255;
$greySecondText: #9093A6;
$lightGrey: #D4D7E5;
$greyBg: #F2F4FA;

$white: #FFFFFF;


/*** fonts ***/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MartelSans";
    src: url("../fonts/Martel_Sans/MartelSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MartelSans";
    src: url("../fonts/Martel_Sans/MartelSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MartelSans";
    src: url("../fonts/Martel_Sans/MartelSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



$main-sans: "Poppins", sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}