@import "veriables.scss";
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    padding: 0 92px;
    margin: 0 auto;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background: #31303099;
    position: absolute;
    z-index: 1;
    display: none;
}

.header {
    width: 100%;
    height: 72px;
    z-index: 20;
    border-bottom: 1px solid $lightGrey;
        background: $white;
 position: fixed;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    &__logo-container {
        font-size: 26px;
        font-weight: 600;
        position: relative;
        color: $darkGrey;

        span {
            display: block;
            position: absolute;
            bottom: 3px;
            left: 0;
            background: $yellow;
            width: 87px;
            height: 13px;
            z-index: -1;
        }
    }

    .hamburger {
        @include flex-center;
        flex-direction: column;
        border-radius: 50%;
        background: $white;
        box-shadow: 0px 1px 2px 0px #0000001A;
        width: 48px;
        height: 48px;
        gap: 9px;

        span {
            width: 24px;
            height: 2px;
            background: $greySecondText;
        }
    }

    &-menu {
        display: none;
        position: absolute;
        top: 72px;
        right: 0;
        height: 90vh;
        width: 285px;
        background: $white;
        padding: 0 36px 0;
        color: $greySecondText;
        font-family: MartelSans, sans-serif;
        font-weight: 700;
        z-index: 1;

        &__items {
            list-style: none;
        }

        &__item {
            padding: 22px 0;
            border-top: 1px solid $greyBg;
        }

        &__lang {
            border-top: 1px solid $greyBg;
            font-size: 12px;
            display: flex;
            align-items: center;
            font-weight: 800;
            justify-content: flex-end;
            padding-top: 28px;

            &-arrow {
                height: 24px;
            }
        }

        &__call {
            display: flex;
            gap: 13px;
            padding: 22px 0 24px;

            &-phone {
                color: $darkGrey;
            }

            &-time {
                font-weight: 400;
                font-size: 12px;
            }
        }
    }
}

.food-court {
    padding: 72px 0;
    /*height: 700px;*/
    background: url(../images/png/bowl.png) no-repeat right;
    background-position-y: top 72px;

    &__order {
        max-width: 536px;
        margin-top: 120px;
    }

    &__title {
        font-family: Poppins;
        font-size: 58px;
        font-weight: 300;
        line-height: 64px;
        letter-spacing: 0.05em;
        margin-bottom: 88px;
    }

    &__buttons {
        display: flex;
        gap: 24px;
        justify-content: flex-start;
    }

    &__button {
        width: 118px;
        height: 72px;
        border: 2px solid $yellow;
        border-radius: 4px;
        flex-direction: column;
        background: $white;
        @include flex-center;

        &-title {
            font-family: MartelSans;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.5px;
            text-align: center;
        }

        &-subtitle {
            font-family: MartelSans;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: center;
        }
    }

    &__characteristics {
        max-width: 872px;
        background: $white;
        margin: 276px 0 48px;
        box-shadow: 0px 8px 40px 0px #00000014;
        padding: 24px 24px 24px 92px;
        @include flex-center;
        gap: 40px;
        font-family: MartelSans;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;

        &-item {
            display: flex;
            gap: 16px;
        }
    }

    .restaurants {
        overflow-x: hidden;
        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 48px;
        }

        &__title {
            font-family: Poppins;
            font-size: 36px;
            font-weight: 300;
            line-height: 64px;
            letter-spacing: 0.08em;
        }

        &__button {
            width: 118px;
            padding: 14px 24px;
            @include flex-center;
            background: $greyBg;
            color: $greySecondText;
            font-family: MartelSans;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.5px;
        }

        &__tape {
            &-photo {
                @include flex-center;
            }

            &-restaurant {
                height: 112px;
                @include flex-center;
            }
        }
    }
}

.tape {
    position: relative;
    display: flex;
    gap: 24px;

    .arrow {
        &-container {
            position: absolute;
            top: 50%;
            border-radius: 50%;
            background: $white;
            padding: 12px;
            width: 48px;
            height: 48px;
        }

        &-left {
            left: -24px;
        }

        &-right {
            right: -24px;
        }
    }

    &-item {
        box-shadow: 0px 2px 16px 0px #3C3E4A14;
        @include flex-center;
        flex-direction: column;
    }



}

.find-rest {
    background: $greyBg;
    padding: 80px 0;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding: 0 40px; 
    }
    .food-court {
        &__characteristics {
            padding: 24px;
        }
    }

}

@media screen and (max-width: 767px) {
    .wrapper {
        padding: 0 24px;
    }
    .main-page {
        background: url(../images/png/bowl.png) no-repeat right;
        background-position-y: top 72px;
        background-position-x: right 110%;
    }
    .food-court {
        padding: 72px 0;
        /*height: 700px;*/
        background: none;

        &__order {
            max-width: 300px;
            margin-top: 53px;
        }

        &__title {
            font-size: 39px;
            font-weight: 300;
            line-height: 44px;
            letter-spacing: 0.05em;
            margin-bottom: 32px;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: flex-start;
        }

        &__button {
            width: 177px;
            height: 49px;
            flex-direction: column;

            &-title {
                font-family: MartelSans;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.5px;
                text-align: center;
            }

            &-subtitle {
                font-family: MartelSans;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0px;
                text-align: center;
            }
        }

        &__characteristics {
            max-width: 342px;
            margin: 178px 0 100px;
            box-shadow: 0px 8px 40px 0px #00000014;
            padding: 22px;
            flex-direction: column;
            gap: 8px;

            &-item {
                display: flex;
                gap: 16px;
            }
        }

        .restaurants {
            &__head {
                margin-bottom: 100px;
            }

            &__title {
                font-size: 22px;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 0.08em;
            }
        }
    }
   
    }


