body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  list-style: none;
  font-weight: 600;
}

.back {
  background: url('https://fs01.getcourse.ru/fileservice/file/download/a/800454/sc/213/h/100fe39a7e23b678b8768f6f7af2f3f4.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
p, ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}


.wrapper {
  max-width: 1640px;
  padding: 0 92px;
  margin: 0 auto;  
}

.header {
  width: 100%;
  z-index: 20;
  /* border-bottom: 1px solid #d4d7e5; */
  position: fixed;
  background: rgb(209,239,234, 70%);
  color: #316d69;
  text-shadow: #97cbc4;
  padding-top: 30px;
}

.nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.nav__logo-container {
  text-transform: uppercase;
}

.coder {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
  /* height: 50px; */
}

.menu-itemm {
  width: 200px;
  height: 50px;
  list-style: none;
  position: relative;
  z-index: 2;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-shadow: #97cbc4 2px 2px;
  border-radius: 14px;
  line-height: 32px;
  border: 0px;
  background:transparent;
  background-image: -webkit-linear-gradient( rgba(151,203,196), rgba(210,227,217));
  background-image: -moz-linear-gradient(#127009, #3b9932, #409e37);
  background-image: -o-linear-gradient(#127009, #3b9932, #409e37);
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 7px rgba(210,227,217);
  -o-box-shadow: inset 0 0 7px rgba(210,227,217);
  box-shadow: inset 0 0 7px rgba(210,227,217);
  display: block;
  text-decoration: none;
}

.menu-itemm:active {
  box-shadow: rgb(209,239,234, 70%) 2px 2px;
  border: rgb(209,239,234) 1px solid;
}

.menu-itemm:before {
  content: ".";
  color:transparent;
  line-height: 22px;
  /* width: 185px; */
  width: 95%;
  margin-top: 0px;
  margin-bottom: -17px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
  background-image:-moz-linear-gradient(rgba(254, 254, 254, 0.9), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  border-radius:16px; 
  display:block;
  /* min-width: 0; */

}

.menu-itemm--big {
  background: linear-gradient(rgba(250, 250, 250), rgba(90, 90, 90, 20%) , rgba(250, 250, 250));
  height: 60px;
  width: 220px;
  font-size: 20px;
  line-height: 46px;
  margin-left: 70px;
}

.menu-itemm--big p {
  font-size: 16px;
}

.menu-itemm--faq {
  line-height: 20px;
}

.logo {
  width: 200px;
  height: 100px;
  position: relative;
}

.logo svg {
  height: 170px;
  position: absolute;
  top: -33px;
}
.items {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  left: 1.5%;
  top: 50px;
  opacity: 0;
  /* display: none; */
  transition: 0.5s;
  transform: translateY(-50px);
  background-color: rgba(252, 243, 221, 0.7);
  padding: 2px;
  width: 98%;
  height: 50px;
  overflow: hidden;
  z-index: -1;
  text-align: left;
  border-radius: 9px;
  text-shadow: none;
}

.item {
  padding: 5px;
  
}
.menu-itemm:hover > ul {
  transform: translateY(0px);
  opacity: 1;
  overflow: auto;
  height: auto;
  /* display: block; */
  transition: 0.9s;
}

.menu-itemm:hover > ul > li{
  opacity: 1;
  transition: 1;
}

.coder ul ul{
  display: none;
  top: 0;
  left: 100%;
}

